@model StudentManagement.Entity.StudentDetails

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Update", "Student", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.StudentId)
    <table cellpadding="10">
        <tr>
            <td>
                @Html.Label("StudentName")
            </td>
            <td>
                @Html.EditorFor(Model => Model.StudentName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("StudentDept")
            </td>
            <td>
                @Html.EditorFor(Model => Model.StudentDept)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Cancel", "Index")
            </td>
            <td>
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
}
